
@{
    ViewBag.Title = "Welcome";
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
</div>
<br />
<br />
@Html.ActionLink("View Clients", "Clients")
<br />
<br />
@Html.ActionLink("View Logs", "Logs")

